.top-banner{
    background-image: url('../../../Images/Banner2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;  
}

.myPic{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: 7px solid blue;
}
.myBtn{
    color: white;
    background-color: rgb(255, 32, 32);
    padding: 8px 25px;
    border-radius: 5px;
    border: 2px solid rgb(255, 32, 32);
    text-align: center;
    text-decoration: none;
}
.myBtn:hover{
    background-color: white;
    color: red;
    font-weight: 500;
}

@media only screen and (max-width: 600px) {
    .myPic{
        height: 300px;
        width: 300px;
        border-radius: 50%;
        border: 5px solid blue;
    }
    .my-div{
        margin-bottom: 40px;
    }
  }
